<md-dialog aria-label="Toevoegen leerling" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Toevoegen leerling</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog"></md-icon>
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;" ng-controller="groupAndStudentCtrl">
      
      <md-content layout-padding>
        <form name="newUserForm">
          <div layout layout-sm="column">
            <md-input-container flex>
              <label>Voornaam</label>
              <input ng-model="newUserForm.firstName">
            </md-input-container>
            <md-input-container flex>
              <label>Achternaam</label>
              <input ng-model="newUserForm.lastName">
            </md-input-container>
          </div>
          <div>
          <md-input-container flex>
            <label>E-mail</label>
            <input ng-model="newUserForm.email" type="email">
          </md-input-container>
          </div>
          <div layout layout-sm="column">
            <md-input-container flex>
              <label>Telefoon</label>
              <input ng-model="newUserForm.telefoon">
            </md-input-container>
            <md-input-container flex>
              <label>Niveau</label>
              <input ng-model="ewUserForm.level" ng-minlength="1" ng-maxlength="1">
            </md-input-container>
          </div>
          <md-input-container class="md-block">
            <label>Opmerkingen</label>
            <textarea ng-model="newUserForm.remark" columns="1" md-maxlength="250"></textarea>
          </md-input-container>
        </form>
      </md-content>
          <md-button ng-click="newStudent()">OK!</md-button>
    </md-dialog-content>

    <div class="md-actions" layout="row">
      
      <md-button ng-click="answer('not useful')">
        Annuleren
      </md-button>
      
      <md-button ng-disabled="false" ng-click="newStudent()" style="margin-right:20px;">
        ?
      </md-button>

    </div>
  </form>
</md-dialog>

