<md-dialog aria-label="Toevoegen leerling" ng-cloak>

  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Toevoegen leerling</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon aria-label="Close dialog"></md-icon>
        <i class="material-icons">close</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px;" ng-controller="groupAndStudentCtrl">

    <md-content layout-padding>
      <form name="editUserForm">
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Voornaam</label>
            <input ng-model="bindedPerson.firstName">
          </md-input-container>
          <md-input-container flex>
            <label>Achternaam</label>
            <input ng-model="bindedPerson.lastName">
          </md-input-container>
        </div>
        <div>
          <md-input-container flex>
            <label>E-mail</label>
            <input ng-model="bindedPerson.email" type="email">
          </md-input-container>
        </div>
        <div layout layout-sm="column">
          <md-input-container flex>
            <label>Telefoon</label>
            <input ng-model="bindedPerson.telefoon">
          </md-input-container>
          <md-input-container flex>
            <label>Niveau</label>
            <input ng-model="bindedPerson.level" ng-minlength="1" ng-maxlength="1">
          </md-input-container>
        </div>
        <md-input-container class="md-block">
          <label>Opmerkingen</label>
          <textarea ng-model="bindedPerson.remark" columns="1" md-maxlength="250"></textarea>
        </md-input-container>
      </form>
</md-dialog>